<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clinic">

  <select id="selectByNoMem" resultType="clinicVo">
    select * from clinic where member_no=#{member_no}
  </select>
  
  <select id="selectByNoCli" resultType="clinicVo">
  	select * from clinic where cli_no=#{cli_no}
  </select>
  
</mapper>